.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroList li {
  list-style: none;
}

.profileContainer h1 {
  font-weight: 800;
}

.profileContainer {
  flex-direction: row;
}

.descriptionContainer,
.profileContainer,
.heroList {
  display: flex;
}

.descriptionContainer {
  flex-direction: column;
  width: 80vw;
}
